# entrega 1 - punto 1

In [15]:

import pandas as pd

ruta_archivo = '/content/drive/MyDrive/Computacion estadistica trabajos/ejemplo entrea 1 CE.xlsx'

Archivo=pd.ExcelFile('/content/drive/MyDrive/Computacion estadistica trabajos/ejemplo entrea 1 CE.xlsx')

pd.read_excel(Archivo)

   Variable 1  Variable 2  Variable 3
0           4           5           5
1           5           4           4
2           6           7           3

# entrega 1 - punto 2

![Imagen](https://upload.wikimedia.org/wikipedia/commons/c/c4/Escudo_unal_2016.png)







# entrega 1 - punto 3





$$\begin{bmatrix}
A_1 &B_1  &C_1  &D_1 \\ 
A_2 &B_2  &C_2  &D_2 \\ 
A_3 &B_3  &C_3  &D_3 \\ 
A_4 &B_4  &C_4  &D_4 
\end{bmatrix}$$

# entrega 1 - punto 4





$$\begin{array}{|c|c|} \hline
A & B & C & D \\ \hline
1 & 2 & 3 & 4 \\ \hline
1 & 2 & 3 & 4 \\\hline
1 & 2 & 3 & 4 \\ \hline
\end{array} $$

# entrega 1 - punto 5

**$$\sigma ^{2}=\frac{\sum _{1}^{N} (x_{i}-\bar{x})^{2}}{N}$$**